a{
	text-decoration: none!important;
}

.background{
	background: url(../image/bg-img.jpg);
	background-size: cover;	
}

/*index.html*/

.index_buttons{
	width:90%;
	text-align: center;
	position: absolute;
	bottom: 8%;
	left: 20px;
}

.ghost_button{
	color: white;
	height:40px;
	line-height: 38px;
	width:40%;
	text-align: center;	
	border: 1px solid #FFFFFF;
	margin-bottom:10px;
	
}

.ghost_button2{
	color: white;
	background-color: #FF4A00;
	height:40px;
	line-height: 38px;
	width:40%;
	text-align: center;	
	border: 1px solid #FF4A00;
	margin-bottom:10px;
}
/*index.html*/

/*service.html*/
.banner{
	height:50px;
	width:100%;
	background-color: #FFFFFF;
}

.banner_left{
	background-color: #FFFFFF;
}

.goback_button{
	font-size: 25px;
	color:#FF4A00;
	padding-top: 6px;
	line-height: 50px;
}

.service-search .form-control{
	background-color: #FFFFFF;
	border: 1px solid #FF4A00;
	margin-top: 10px;
}

.service-search .form-control:focus {
  border-color: #000033;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.60);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.60);
}

.service-search .btn-default{
	background-color: #FF4A00;
	border: 1px solid #FF4A00;
	color: white;
	margin-top: 10px;
}

.service-search .btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #FF4A00;
  background-color: #404144;
  border-color: #404144;
}

.banner_right{
	background-color: #FFFFFF;
}

.gouser_button{
	font-size: 25px;
	color:#FF4A00;
	padding-top: 6px;
	line-height: 50px;
}

.slider_bg{
	height:100px;
	background-color: #FF4A00;
	margin-bottom: 10px;
}

.service_item{
	text-align: center;
	background-color: #F9F9F9;
	border: 2px solid #FFFFFF;
}

.service_item a{
	color: #FF4A00;
}

.service_icon img{
	height:auto;
	width:100%;
}
