a{
	color: #FFFFFF!important;
	text-decoration: none!important;
}

.index_background{
	background: url(../image/bg-img.jpg);
	background-size: cover;	
}

.apps_background{
	background: url(../image/bg-img-apps.jpg);
	background-size: cover;	
	color:#FFFFFF;
}

.container_big{
	width:97%;
	margin-left: 1.5%;
}

.container_small{
	width:90%;
}

.menu{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 55px;
	background-color: #000000;
	opacity: 0.9;
	z-index: 99;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.menu_item{
	
	border-bottom: 1px solid #aaaaaa;
	line-height: 40px;
	height: 40px;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 5px;	
}

.radius_button{
	border-radius: 5px;
}

.glyphicon-star{
	color: #F4F379;
}

/*swipe*/
.box_swipe>ol {
		height: 20px;
		position: relative;
		z-index: 10;
		margin-top: -25px;
		text-align: right;
		padding-right: 20px;
		background-color: rgba(0,0,0,0.3);
	}

	.box_swipe {
		overflow: hidden;
		position: relative;
	}
	
	.box_swipe ul {
	-webkit-padding-start: 0px;
	}

	.box_swipe>ol>li {
		display: inline-block;
		margin: 5px;
		width: 10px;
		height: 10px;
		background-color: #757575;
		border-radius: 10px;
	}

	.box_swipe>ol>li.on {
		background-color: #ffffff;
	}

	ul, ol {
		margin-top: 0;
		margin-bottom: 0px;
	}

	.info { margin-top: 10px; }
/*swipe*/



/*login.html*/

.login_error{
	margin-top: 10px;
	height: 45px;
}

.login_error_content{
	width:90%;
	margin-left: 5%;
	height: 45px;
	line-height: 45px;
	background-color: #000000;
	opacity: 0.4;
	border-radius: 5px;
	text-align: center;
}

.login_title{
	margin-left: 10%;
	
	margin-bottom:5%;
	border:0;
	font-size: 40px;
	
}

.input_text{
	width:100%;
	height:45px;
	margin: 0;
	border:0;
	border-bottom: 1px solid #808080;
	padding-left: 20px;
	border-radius:0px;
	color: #000000;
	background-color: #FFFFFF;
}

.input_button{
	width: 90%;
	margin-left: 5%;
	margin-top: 6%;
	height: 40px;
	background-color: #FF4A00;
	border: 1px solid #FF4A00;
	border-radius:5px
}

.ghost_button_login{
	color: white;
	width: 90%;
	margin-left: 5%;
	margin-top: 6%;
	height:40px;
	line-height: 38px;
	text-align: center;	
	border: 1px solid #FFFFFF;
	border-radius:5px
	
}

/*login.html*/



/*register.html*/
.register_error{
	margin-top: 10px;
	height: 45px;
}

.register_error_content{
	width:90%;
	margin-left: 5%;
	height: 45px;
	line-height: 45px;
	background-color: #000000;
	opacity: 0.4;
	border-radius: 5px;
	text-align: center;
}

.register_title{
	margin-left: 10%;
	
	margin-bottom:5%;
	border:0;
	font-size: 40px;
	
}

.register_form{
	margin-bottom: 10px;
}

.input_select_register{
	width:100%;
	height:45px;
	margin: 0;
	border:0;
	border-bottom: 1px solid #808080;
	padding-left: 15px;
	border-radius:0px;
	color: #000000;
	background-color: #FFFFFF;
}

.input_text_register{
	width:100%;
	height:45px;
	margin: 0;
	border:0;
	border-bottom: 1px solid #808080;
	padding-left: 20px;
	border-radius:0px;
	color: #000000;
	background-color: #FFFFFF;
}

.input_button_register{
	width: 90%;
	margin-left: 5%;
	margin-top: 6%;
	height: 40px;
	background-color: #FF4A00;
	border: 0;
	border-radius:5px
}




/*register.html*/




/*index.html*/

.index_buttons{
	width:40%;
	text-align: center;
	position: absolute;
	bottom: 8%;
	left: 20px;
}

.index_user_button{
	position: absolute;
	bottom:12%;
	right:40px;
}



.ghost_button_index{
	color: white;
	height:40px;
	line-height: 38px;
	text-align: center;	
	border: 1px solid #FFFFFF;
	margin-bottom:10px;
	
}

.ghost_button2_index{
	color: white;
	background-color: #FF4A00;
	height:40px;
	line-height: 38px;
	text-align: center;	
	border: 1px solid #FF4A00;
	margin-bottom:10px;
}

.ghost_button3_index{
	color: white;
	height:50px;
	width:50px;
	border-radius: 25px;
	font-size: 25px;
	line-height: 52px;
	text-align: center;	
	border: 1px solid #FFFFFF;
}
/*index.html*/

/*service.html*/
.banner{
	height:55px;
	width:100%;
	box-shadow: 1px 1px 20px #000000;
	background-color: rgba(20,20,20,0.5);
	z-index: 98;
}

.banner_left{
	
}

.goback_button{
	font-size: 25px;
	color:#FFFFFF;
	padding-top: 6px;
	line-height: 50px;
}

.banner_middle .form-control{
	background-color: #FFFFFF;
	border: 1px solid #FF4A00;
	margin-top: 10px;
}

.banner_middle .form-control:focus {
  border-color: #000033;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.60);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.60);
}

.banner_middle .btn-default{
	background-color: #FF4A00;
	border: 1px solid #FF4A00;
	color: white;
	margin-top: 10px;
}

.banner_middle .btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #FF4A00;
  background-color: #404144;
  border-color: #404144;
}

.banner_right{
	
}

.gouser_button{
	font-size: 25px;
	color:#FFFFFF;
	padding-top: 6px;
	line-height: 50px;
}

.slider_bg{
	height:150px;
	background-color: #FF4A00;
	margin-bottom: 10px;
	box-shadow: 1px 1px 5px #000000;
}

.slider_bg img{
	height: 150px;
	width: 100%;
}

.special_col .col-xs-4 {
width: 32.6%!important;
}

.service_item{
	text-align: center;
	background-color: rgba(94,92,87,0.8);
	margin: 1px;
	padding-top: 10px;
	padding-bottom:5px;
}

.service_item_lt{
	border-radius: 5px 0 0 0;
}

.service_item_lb{
	border-radius: 0 0 0 5px;
}

.service_item_end{
	text-align: center;
	background-color: rgba(255,74,0,0.8);
	margin: 1px;
	padding-top: 10px;
	padding-bottom:5px;
}

.service_item_end_rt{
	border-radius: 0 5px 0 0;
}

.service_item_end_rb{
	border-radius: 0 0 5px 0;
}

.service_item a{
	color: #FFFFFF;
	
}

.service_item a:visited{
	color: #FFFFFF;
	
}

.service_item_end a{
	color: #FFFFFF;
	
}

.service_item_end a:visited{
	color: #FFFFFF;
	
}

.service_icon img{
	height:30px;
	margin-bottom: 10px;
	opacity: 1;
}
/*service.html*/

/*service_list.html*/
.service_list .banner{
	margin-bottom: 7px;
}

.service_list_item{
	background-color: rgba(94,92,87,0.6);
	margin-bottom: 2px;
}

.service_list_item a{
	color: #FFFFFF
}

.service_list_item .content{
}

.service_list_item .call{
	text-align: center;
	background-color: rgba(255,74,0,0.8);
	color: #FFFFFF
}
/*service_list.html*/

/*service_detail.html*/
.service_detail .banner{
	position: fixed;
}

.service_detail .banner_middle{
	color: #FFFFFF;
	text-align: center;
}

.service_name{
	font-size: 30px;
	line-height: 60px;
}

.service_detail .banner{
	margin-bottom: 20px;
}

.service_detail .banner_right{
	background-color: #FF4A00;
}

.service_detail .gouser_button{
	padding-top: 5px;
}

.info{
	margin-top: 0px;
	box-shadow: 1px 0px 3px #000000;
}

.info2{
	box-shadow: 1px 0px 3px #000000;
}

.info_company{
	margin-top: 70px;
	box-shadow: 1px 0px 3px #000000;
}

.company{
	box-shadow: 1px 0px 3px #000000;
}

.company .field_content{
	font-size: 20px;
}

.company .row{
	background-color:transparent;
	
}
	
.field_title{
	background-color: rgba(255,74,0,0.8);
	font-size: 20px;
	padding:5px 0 5px 20px;
	box-shadow: 0px 2px 3px #000000;
}

.field_content{
	background-color: rgba(94,92,87,0.6);
	padding: 10px;
	margin-bottom: 10px;
}

.comment_container{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #C0C0C0;
	width:98%;
	margin-left: 1%!important;
	
}

.comment_name{
	padding-right: 10px;
	font-size: 18px;
}

.comment_time{
	color:#C0C0C0;
}

.comment_button{
	margin-top: 20px;
}

.input_star{
	border-radius: 5px;
	margin-left: 5%;
	width:90%;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 30px;
	text-align: center;
}


.phone{
	text-align: center;
	font-size: 20px;
	box-shadow: 0px 2px 3px #000000;
	
}

.phone .tel{
	background-color: rgba(94,92,87,0.6);
	padding: 10px;
	box-shadow: 0px 2px 3px #000000;
	margin-bottom: 10px;
}

.phone .tel_icon{
	background-color: rgba(255,74,0,0.8);
	padding: 10px;
	box-shadow: 0px 2px 3px #000000;
}



/*service_detail.html*/

/*community.html*/

.notice{
	margin-top: 70px;
	box-shadow: 1px 0px 3px #000000;
	padding-bottom: 2px;
	height:auto;
}

.notice .field_title{
	margin-bottom: 3px;
}

.notice .notice_content{
	overflow-y: scroll;
	height: 310px;
}

.notice_item{
	margin-left: 2%;
	width: 96%;
	height: auto;
	background-color: #808080;
	opacity: 0.8;
	box-shadow: 1px 0px 3px #000000;
}

.notice_item .field_content{
	margin-bottom: 3px;
	height: auto;
}

.notice_item .notice_item_time{
	text-align: right;
}

.community_button{
	margin-top: 30px;
	width:90%;
	position: absolute;
	bottom: 3%;
}

.ghost_button_community{
	font-size: 15px;
	color: white;
	height: 40px;
	line-height: 40px;
	text-align: center;	
	border: 1px solid #FFFFFF;
	
}

.ghost_button2_community{
	color: white;
	background-color: #FF4A00;
	height:40px;
	line-height: 40px;
	text-align: center;	
	border: 1px solid #FF4A00;
	margin-bottom:10px;
}

/*community.html*/


/*notice_detail.html*/

.notice_detail_time{
	margin-top: 8px;
	margin-bottom: 13px;
}


/*notice_detail.html*/


/*feedback.html*/
.feedback_textarea{
	margin-left: 5%;
	width:90%;
	height:100px;
	margin-top: 15px;
	margin-bottom: 0;
	border-radius: 5px;
	color: #000000;
}

.feedback_form{
	margin-top: 70px;
}

.feedback_form .input_button{
	margin-top: 0;
	margin-bottom: 10px;
}

.feedback_list{
	margin-top: 20px;
}

.feedback_list .field_title{
	margin-bottom: 3px;
}

.feedback_list .field_content{
	padding: 0;
}

.feedback_field_content{
	padding:10px;
}

.feedback_state{
	background-color: lightgreen;
	width:0%;
	height:1px;
}


/*feedback.html*/

/*feedback_detail.html*/

.feedback_info{
	margin-top: 70px;
	box-shadow: 1px 0px 3px #000000;
}

.process_info{
	width: 90%;
	margin-left: 5%;
	margin-bottom: 20px;
	font-size: 15px;
}

.process_state{
	font-size: 18px;
	border-bottom: 1px solid #FFF0F0;
}

.arrow_down{
	text-align: center;
}

.arrow_down .process_info{
	font-size: 20px;
}


/*feedback_detail.html*/



/*user_center.html*/

.user_center .banner_middle{
	color: #FFFFFF;
	text-align: center;
}

.user_center .banner_right{
	background-color: #FF4A00;
}

.user_banner{
	background:url(../image/user_banner1.jpg);
	background-position: 50%;
	width:100%;
	height: 160px;
	background-size: cover;	
}

.user_banner .user_name{
	font-size: 23px;
}

.user_banner_top{
	height:130px;
}

.user_banner_bottom{
	height:30px;
	background-color: rgba(0, 0, 0, 0.3);
}

.user_banner_info{
	text-shadow: 1px 1px 5px #000000;
	padding:8%;
	width:70%;
	height:100%;
	background: -webkit-linear-gradient(left, rgba(0,0,0,.8) 0%,rgba(0,0,0,0) 100%);}

.user_center_content .button{
	margin-top:20px;
}

/*user_center.html*/



/*user_info.html*/

.input_text_userinfo{
	width:100%;
	height:45px;
	margin: 0;
	border:0;
	border: 1px solid #808080;
	padding-left: 20px;
	border-radius:0px;
	color: #FFFFFF;
	background-color: transparent;
}

.input_button_userinfo{
	width: 100%;
	margin-top: 6%;
	height: 40px;
	background-color: #FF4A00;
	border: 1px solid #FF4A00;
}


/*user_info.html*/

