<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	    <title>benzhu_system</title>
	    <script src="/static/web/js/jquery-1.11.1.min.js"></script>
	    <link rel="stylesheet" href="/static/web/css/main.css" />
	    <link rel="stylesheet" href="/static/web/css/bootstrap.css">
	    <script>
			$(function() {
				$(".banner_left").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"white"} );
					$(".goback_button").css( {"color":"#FF4A00"} );
				});
				$(".banner_left").bind("touchend", function() {
					$(this).css( {"backgroundColor":"transparent"} );
					$(".goback_button").css( {"color":"white"} );
				});
				$(".banner_right").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"#FD9729"} );
				});
				$(".banner_right").bind("touchend", function() {
					$(this).css( {"backgroundColor":"rgba(255,74,0,0.9)"} );
				});
				$(".phone").bind("touchstart", function() {
					$(this).find(".tel").css( {"backgroundColor":"#D4D7DA"} );
					$(this).find(".tel_icon").css( {"backgroundColor":"#FD9729"} );
				});
				$(".phone").bind("touchend", function() {
					$(this).find(".tel").css( {"backgroundColor":"rgba(94,92,87,0.8)"} );
					$(this).find(".tel_icon").css( {"backgroundColor":"rgba(255,74,0,0.9)"} );
				});
				$(".phone").bind("touchmove", function() {
					$(this).find(".tel").css( {"backgroundColor":"rgba(94,92,87,0.8)"} );
					$(this).find(".tel_icon").css( {"backgroundColor":"rgba(255,74,0,0.9)"} );
				});
			});	
		</script>
	</head>
	<body class="apps_background">
		<div class="container-fluid service_detail">
			<div class="row">
	    		<div class="banner">
	    			<div class="banner_left col-xs-2">
	    				<a href="javascript:history.back()">
	    					<div class="goback_button">
	    						<span class="glyphicon glyphicon-arrow-left"></span>
	    					</div>
	    				</a>
					</div>	
		    		<div class="banner_middle col-xs-8">
		    			<div class="service_name">
		    				{{company.name}}
		    			</div>
		    		</div>
		    		<div class="banner_right col-xs-2">
		    			<a href="tel:{{company.phone.first.number}}">
	    					<div class="gouser_button">
	    						<span class="glyphicon glyphicon-phone-alt"></span>
	    					</div>
	    				</a>
		    		</div>
	    		</div>
    		</div>
		</div>
		<div class="container container_small">
			<div class="row">
				
				<div class="info_company">
					<div class="field_title">
						单位简介
					</div>
					<div class="field_content">
						{{company.info|safe}}
					</div>
				</div>
				
				<div class="address">
					<div class="field_title">
						地址
					</div>
					<div class="field_content">
						{{company.address}}
					</div>
				</div>
				
				{% for phone in company.phone.all%}
				<div class="phone">
					<a href="tel:{{phone.number}}">
						<div class="tel col-xs-9">
							{{phone.number}}
						</div>
						<div class="tel_icon col-xs-3">
							<span class="glyphicon glyphicon-earphone"></span>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>
