<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	    <title>benzhu_system</title>
	    <script src="/static/web/js/jquery-1.11.1.min.js"></script>
	    <script src="/static/web/js/swipe.js"></script>
	    <link rel="stylesheet" href="/static/web/css/main.css" />
	    <link rel="stylesheet" href="/static/web/css/bootstrap.css">
	    <script>
			$(function() {
				$(".banner_left").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"white"} );
					$(".goback_button").css( {"color":"#FF4A00"} );
				});
				$(".banner_left").bind("touchend", function() {
					$(this).css( {"backgroundColor":"transparent"} );
					$(".goback_button").css( {"color":"white"} );
				});
				$(".banner_right").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"#FD9729"} );
				});
				$(".banner_right").bind("touchend", function() {
					$(this).css( {"backgroundColor":"rgba(255,74,0,0.9)"} );
				});
				$(".input_button").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"transparent", "color":"#FF4A00"} );
				});
				$(".input_button").bind("touchend", function() {
					$(this).css( {"backgroundColor":"#FF4A00", "color":"white"} );
				});
			});	
			$(function(){
				new Swipe(document.getElementById('banner_box'), {
					speed:500,
					auto:3000,
					callback: function(){
						var lis = $(this.element).next("ol").children();
						lis.removeClass("on").eq(this.index).addClass("on"); }
					});
			});
		</script>
	</head>
	<body class="apps_background">
		<div class="container-fluid service_detail">
			<div class="row">
	    		<div class="banner">
	    			<div class="banner_left col-xs-2">
	    				<a href="javascript:history.back()">
	    					<div class="goback_button">
	    						<span class="glyphicon glyphicon-arrow-left"></span>
	    					</div>
	    				</a>
					</div>	
		    		<div class="banner_middle col-xs-8">
		    			<div class="service_name">
		    				{{service.name}}
		    			</div>
		    		</div>
		    		<div class="banner_right col-xs-2">
		    			<a href="tel:{{service.company.phone.first.number}}">
	    					<div class="gouser_button">
	    						<span class="glyphicon glyphicon-phone-alt"></span>
	    					</div>
	    				</a>
		    		</div>
	    		</div>
    		</div>
    	</div>
		<div class="container container_small">
			<div class="row">
				{% load comments %}
				{% get_comment_list for service as comments %}
				<div class="info feedback_form">
					<div class="field_title">
						对{{service.name}}进行评价
					</div>
					{% get_comment_form for service as blog_form %}
					<div class="notice_content">
						<form class="form-horizontal" action="{% comment_form_target %}" method="post" id="cmt_sub_form">
			    			{% csrf_token %}
				            {{ blog_form.object_pk }}
				            {{ blog_form.content_type }}
				            {{ blog_form.timestamp }}
				            {{ blog_form.site }}
				            {{ blog_form.submit_date }}
				            {{ blog_form.security_hash }}
				            <div class="control-group" style="display: none;">
				              <label class="control-label" for="id_name">用户名： </label>
				              <div class="controls">
				                <input readonly="readonly" type="text" id="id_name" class="input-xlarge" name="name" placeholder="请输入您的用户名" value="{{ user.username }}"/>
				              </div>
				            </div>
				            <div class="control-group" style="display: none;">
				              <label class="control-label" for="id_email">E-mail： </label>
				              <div class="controls">
				                <input readonly="readonly" class="input-xlarge" id="id_email" type="email" name="email" placeholder="请输入您的邮箱地址" value="{{ user.email }}"/>
				              </div>
				            </div>
							<textarea id="id_comment" name="comment" class="feedback_textarea" placeholder="请输入你的评价"></textarea>
							<div class="input_star">
								<span >评分：</span>
								<span id="star_1" class="glyphicon glyphicon-star-empty"></span>
								<span id="star_2" class="glyphicon glyphicon-star-empty"></span>
								<span id="star_3" class="glyphicon glyphicon-star-empty"></span>
								<span id="star_4" class="glyphicon glyphicon-star-empty"></span>
								<span id="star_5" class="glyphicon glyphicon-star-empty"></span>
							</div>
							<script>
								$("#star_1").bind("touchstart", function() {
									$("#id_star").val("1");
									$("#star_1").removeClass("glyphicon-star-empty")
									$("#star_1").addClass("glyphicon-star");
									$("#star_2").removeClass("glyphicon-star")
									$("#star_2").addClass("glyphicon-star-empty");
									$("#star_3").removeClass("glyphicon-star")
									$("#star_3").addClass("glyphicon-star-empty");
									$("#star_4").removeClass("glyphicon-star")
									$("#star_4").addClass("glyphicon-star-empty");
									$("#star_5").removeClass("glyphicon-star")
									$("#star_5").addClass("glyphicon-star-empty");
								});
								$("#star_2").bind("touchstart", function() {
									$("#id_star").val("2");
									$("#star_1").removeClass("glyphicon-star-empty")
									$("#star_1").addClass("glyphicon-star");
									$("#star_2").removeClass("glyphicon-star-empty")
									$("#star_2").addClass("glyphicon-star");
									$("#star_3").removeClass("glyphicon-star")
									$("#star_3").addClass("glyphicon-star-empty");
									$("#star_4").removeClass("glyphicon-star")
									$("#star_4").addClass("glyphicon-star-empty");
									$("#star_5").removeClass("glyphicon-star")
									$("#star_5").addClass("glyphicon-star-empty");
								});
								$("#star_3").bind("touchstart", function() {
									$("#id_star").val("3");
									$("#star_1").removeClass("glyphicon-star-empty")
									$("#star_1").addClass("glyphicon-star");
									$("#star_2").removeClass("glyphicon-star-empty")
									$("#star_2").addClass("glyphicon-star");
									$("#star_3").removeClass("glyphicon-star-empty")
									$("#star_3").addClass("glyphicon-star");
									$("#star_4").removeClass("glyphicon-star")
									$("#star_4").addClass("glyphicon-star-empty");
									$("#star_5").removeClass("glyphicon-star")
									$("#star_5").addClass("glyphicon-star-empty");
								});
								$("#star_4").bind("touchstart", function() {
									$("#id_star").val("4");
									$("#star_1").removeClass("glyphicon-star-empty")
									$("#star_1").addClass("glyphicon-star");
									$("#star_2").removeClass("glyphicon-star-empty")
									$("#star_2").addClass("glyphicon-star");
									$("#star_3").removeClass("glyphicon-star-empty")
									$("#star_3").addClass("glyphicon-star");
									$("#star_4").removeClass("glyphicon-star-empty")
									$("#star_4").addClass("glyphicon-star");
									$("#star_5").removeClass("glyphicon-star")
									$("#star_5").addClass("glyphicon-star-empty");
								});
								$("#star_5").bind("touchstart", function() {
									$("#id_star").val("5");
									$("#star_1").removeClass("glyphicon-star-empty")
									$("#star_1").addClass("glyphicon-star");
									$("#star_2").removeClass("glyphicon-star-empty")
									$("#star_2").addClass("glyphicon-star");
									$("#star_3").removeClass("glyphicon-star-empty")
									$("#star_3").addClass("glyphicon-star");
									$("#star_4").removeClass("glyphicon-star-empty")
									$("#star_4").addClass("glyphicon-star");
									$("#star_5").removeClass("glyphicon-star-empty")
									$("#star_5").addClass("glyphicon-star");
								});
							</script>
							<input id="id_star" type="hidden" name="star" value="" class="input_text input_star" placeholder="请输入您的评分" />
							<input type="submit" name="submit" value="提交" class="input_button"/>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

