<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	    <title>benzhu_system</title>
	    <script src="/static/web/js/jquery-1.11.1.min.js"></script>
	    <script src="/static/web/js/swipe.js"></script>
	    <link rel="stylesheet" href="/static/web/css/main.css" />
	    <link rel="stylesheet" href="/static/web/css/bootstrap.css">
	    <script>
			$(function() {
				$(".banner_left").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"white"} );
					$(".goback_button").css( {"color":"#FF4A00"} );
				});
				$(".banner_left").bind("touchend", function() {
					$(this).css( {"backgroundColor":"transparent"} );
					$(".goback_button").css( {"color":"white"} );
				});
				$(".banner_right").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"#FD9729"} );
				});
				$(".banner_right").bind("touchend", function() {
					$(this).css( {"backgroundColor":"rgba(255,74,0,0.9)"} );
				});
				$(".phone").bind("touchstart", function() {
					$(this).find(".tel").css( {"backgroundColor":"#D4D7DA"} );
					$(this).find(".tel_icon").css( {"backgroundColor":"#FD9729"} );
				});
				$(".phone").bind("touchend", function() {
					$(this).find(".tel").css( {"backgroundColor":"rgba(94,92,87,0.8)"} );
					$(this).find(".tel_icon").css( {"backgroundColor":"rgba(255,74,0,0.9)"} );
				});
				$(".phone").bind("touchmove", function() {
					$(this).find(".tel").css( {"backgroundColor":"rgba(94,92,87,0.8)"} );
					$(this).find(".tel_icon").css( {"backgroundColor":"rgba(255,74,0,0.9)"} );
				});
				$(".ghost_button2_index").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"transparent", "color":"#FF4A00"} );
				});
				$(".ghost_button2_index").bind("touchend", function() {
					$(this).css( {"backgroundColor":"#FF4A00", "color":"white"} );
				});
			});	
			$(function(){
				new Swipe(document.getElementById('banner_box'), {
					speed:500,
					auto:3000,
					callback: function(){
						var lis = $(this.element).next("ol").children();
						lis.removeClass("on").eq(this.index).addClass("on"); }
					});
			});
		</script>

		<script>
		var set_star = function( selector ) {
			$(selector).each( function() {
				var star = Math.round( parseFloat( $(this).find('.star').val() ) );
				star = (star > 5 || star < 0 ? 5 : star);
				$(this).find('.glyphicon:lt('+ star +')').addClass('glyphicon-star');
				$(this).find('.glyphicon:not(:lt('+ star +'))').addClass('glyphicon-star-empty');
			});				
		}

		$(function(){
			set_star('.comment_star, .field_content');
		});
		</script>


</head>
	<body class="apps_background">
		{% for post in posts %}
		<div class="container-fluid service_detail">
			<div class="row">
	    		<div class="banner">
	    			<div class="banner_left col-xs-2">
	    				<a href="javascript:history.back()">
	    					<div class="goback_button">
	    						<span class="glyphicon glyphicon-arrow-left"></span>
	    					</div>
	    				</a>
					</div>	
		    		<div class="banner_middle col-xs-8">
		    			<div class="service_name">
		    				{{post.name}}
		    			</div>
		    		</div>
		    		<div class="banner_right col-xs-2">
		    			<a href="tel:{{post.company.phone.first.number}}">
	    					<div class="gouser_button">
	    						<span class="glyphicon glyphicon-phone-alt"></span>
	    					</div>
	    				</a>
		    		</div>
	    		</div>
    		</div>
    		<div class="row">
	    		<div id="banner_box" class="box_swipe">
					<ul>
						{% for pictures in gallery %}
						<li>
							<a href="http://{{pictures.links}}">
								<img src="{{MEDIA_URL}}{{ pictures.pic }}" alt="" style="width:100%;" />
							</a>
						</li>
						{% endfor %}
					</ul>
			
					<ol>
						{% for pictures in gallery %}
						<li class=""></li>
						{% endfor %}
					</ol>
				</div>
	    	</div>
		</div>
		<div class="container container_small">
			<div class="row">
				
				<div class="info">
					<div class="field_title">
						服务简介
					</div>
					<div class="field_content">
						{{post.info|safe}}
					</div>
				</div>
				
				<div class="company">
					<div class="field_content">
						<input class="star" type="hidden" value="{{ avg_star }}" />
						<span class="glyphicon"></span>
						<span class="glyphicon"></span>
						<span class="glyphicon"></span>
						<span class="glyphicon"></span>
						<span class="glyphicon"></span>
					</div>
				</div>
				
				<div class="company">
					<div class="field_title">
						服务提供单位
					</div>
					<a href="/company/{{post.company.id}}">
						<div class="field_content row">
							<div class="col-xs-10">
								{{post.company.name}}
							</div>
							<div class="col-xs-2">
								<span class="glyphicon glyphicon-chevron-right"></span>
							</div>
						</div>
					</a>
				</div>
				
				<div class="info2">
					<div class="field_title">
						地址
					</div>
					<div class="field_content">
						{{post.company.address}}
					</div>
				</div>
				

				<div class="address">

					{% load comments %}
					{% get_comment_list for service as comments %}

					<div class="field_title">
						  {% get_comment_count for service as comment_count %}
						  <div class="comments_nav"><a href="comment">评论({{ comment_count }})</a></div>
					</div>

					<div class="field_content">

					  <div class="comments">
						  <a name="blog_comments" id="comments"></a>
						 
						  {% ifequal comment_count 0 %}
							<div class="comments_body">
							  <div class="comment_container">没有评论</div>
							</div>
						  {% else %}
							{% get_comment_list for service as comments %}
							<div class="comments_body">
								{% for comment in comments reversed%}
								<div class="comment_container row">
								  <div class="cmt_user_info col-xs-6"> 
									<span class="comment_name">{{ comment.user_name }}</span>
									
								  </div>
								  <div class="comment_star col-xs-6">
								  	<span class="comment_time">{{ comment.submit_date|date:"Y-m-d"}}</span></br>
								  	<span class="glyphicon glyphicon-star"></span>
								  	<span class="glyphicon glyphicon-star"></span>
								  	<span class="glyphicon glyphicon-star-empty"></span>
								  	<span class="glyphicon glyphicon-star-empty"></span>
								  	<span class="glyphicon glyphicon-star-empty"></span>
								  </div>
								  <div class="comment_content col-xs-12">{{ comment.comment }}</div>
								</div>
								{% endfor %}
								<div class="comment_button">
									<a href="comment"><div class="ghost_button2_index radius_button"><span class="glyphicon glyphicon-pencil"> 我要评论</span></div></a>
								</div>
							</div>
						  {% endifequal %}
					 </div>
						  
					
					</div>
				</div>

				
				{% for phone in post.company.phone.all%}
				<div class="phone">
					<a href="tel:{{phone.number}}">
						<div class="tel col-xs-9">
							{{phone.number}}
						</div>
						<div class="tel_icon col-xs-3">
							<span class="glyphicon glyphicon-earphone"></span>
						</div>
					</a>
				</div>
				{% endfor %}
				
				
			</div>
			
		</div>
		
		{% endfor %}
	</body>
</html>
