<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>benzhu_system</title>
<script src="/static/web/js/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="/static/web/css/main.css" />
<link rel="stylesheet" href="/static/web/css/bootstrap.css">
<script>
	$(function() {
		$(".banner_left").bind("touchstart", function() {
			$(this).css( {"backgroundColor":"white"} );
			$(".goback_button").css( {"color":"#FF4A00"} );
		});
		$(".banner_left").bind("touchend", function() {
			$(this).css( {"backgroundColor":"transparent"} );
			$(".goback_button").css( {"color":"white"} );
		});
		$(".banner_right").bind("touchstart", function() {
			$(this).css( {"backgroundColor":"white"} );
			$(".gouser_button").css( {"color":"#FF4A00"} );
		});
		$(".banner_right").bind("touchend", function() {
			$(this).css( {"backgroundColor":"transparent"} );
			$(".gouser_button").css( {"color":"white"} );
		});
		$(".content").bind("touchstart", function() {
			$(this).css( {"backgroundColor":"#D4D7DA"} );
		});
		$(".content").bind("touchend", function() {
			$(this).css( {"backgroundColor":"rgba(94,92,87,0.6)"} );
		});
		$(".content").bind("touchmove", function() {
			$(this).css( {"backgroundColor":"rgba(94,92,87,0.6)"} );
		});
		$(".call").bind("touchstart", function() {
			$(this).css( {"backgroundColor":"#FD9729"} );
		});
		$(".call").bind("touchend", function() {
			$(this).css( {"backgroundColor":"rgba(255,74,0,0.9)"} );
		});
		$(".call").bind("touchmove", function() {
			$(this).css( {"backgroundColor":"rgba(255,74,0,0.9)"} );
		});
	});	
</script>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=yBGuc5wyBlOzsYbQOgTov0FV"></script>
<script type="text/javascript">
$(function() {
	
	var sortByInput = function(container) {
		var sortEle = $(container+'>div').sort(
			function(a, b) {
				return $(a).find('.distance').val() > $(b).find('.distance').val() ? 1 : -1;
			}
		);
		$(container).empty().append(sortEle);
	};

	var set_star = function( selector ) {
		$(selector).each( function() {
			var star = Math.round( parseFloat( $(this).find('.star').val() ) );
			star = (star > 5 || star < 0 ? 5 : star);
			$(this).find('.glyphicon:lt('+ star +')').addClass('glyphicon-star');
			$(this).find('.glyphicon:not(:lt('+ star +'))').addClass('glyphicon-star-empty');
		});				
	}

	// Baidu map api & static variable
	var map = new BMap.Map("allmap");
	var selector = ".content";
	var container = ".container";
	var loading = "#loading";
	
	// Initialize
	$(container).css( { "display": "none" } );
	set_star(selector);

	// Get my loaction.
	var geolocation = new BMap.Geolocation();
	geolocation.getCurrentPosition( function(r) {

		if(this.getStatus() == BMAP_STATUS_SUCCESS) {
			var mk = new BMap.Marker(r.point);
			
			$(selector).each( function() {
				loc = $.trim( $(this).find('.location').val() ).split(',');
				bLoc = new BMap.Point(loc[0], loc[1]);
				$(this).find('.distance').val( parseInt( map.getDistance(bLoc,r.point) ) );
			});
			
			sortByInput(container);

			// add event listener
			// ajax
			$(".glyphicon-heart-empty").bind( "click", function() {
				if ( parseInt( $(this).attr("alt") ) >= 0 ) {
					htmlobj = $.ajax( {url:"/service/favourite?service_id=" + 
						$.trim( $(this).attr("alt") ), async:false} );
					$(this).removeClass("glyphicon-heart-empty").addClass("glyphicon-heart");
				}
				else {
					htmlobj = $.ajax( {url:"/service/favourite?remove=1&service_id=" + 
						Math.abs(parseInt($(this).attr("alt"))), async:false} );
					$(this).addClass("glyphicon-heart-empty").removeClass("glyphicon-heart");
				}	
				$(this).attr("alt", -parseInt( $(this).attr("alt") ));
			});

		}
		else {
			console.log('failed'+this.getStatus());
		}   

		// finally.
		$(loading).css( { "display": "none" } );
		$(container).css( { "display": "block" } );		

	},{enableHighAccuracy: true});


});
</script>

</head>

	<body class='apps_background'>
		<div class="container-fluid service_list">
			<div class="row">
	    		<div class="banner">
	    			<div class="banner_left col-xs-2">
	    				<a href="javascript:history.back()">
	    					<div class="goback_button">
	    						<span class="glyphicon glyphicon-arrow-left"></span>
	    					</div>
	    				</a>
					</div>	
		    		<div class="banner_middle col-xs-8">
		    			<form action="" method="post"> 
		    				{% csrf_token %}
			    			<div class="input-group">
								<input type="text" name="key" class="form-control">
								<span class="input-group-btn">
							        <button class="btn btn-default" type="submit">
							        	<span class="glyphicon glyphicon-search"></span>
							        </button>
					     		</span>
						    </div>
					    </form>
		    		</div>
		    		<div class="banner_right col-xs-2">
		    			<a href="/user_center">
	    					<div class="gouser_button">
	    						<span class="glyphicon glyphicon-user"></span>
	    					</div>
	    				</a>
		    		</div>
	    		</div>
    		</div>
		</div>
		
		<p id="loading" align="center" style="margin-top: 20px;"><img src='/static/web/image/busy_anim.gif' width='30' /> 正在载入中...</p>

		<div class="container container_big">
			{% for post in posts %}
				<div class="service_list_item row">
					<a href="{{post.id}}">
		    			<div class="content col-xs-7">
		    				<h4>{{ post.name }}</h4>
							<input class="location" type="hidden" value="{{ post.company.gps }}" />
							<input class="distance" type="hidden" value="0" />

							{% for k, star in stars.items %}
								{% if k == post.pk %}
								<input class="star" type="hidden" value="{{star}}" />
								{% endif %}
							{% endfor %}
		    				<span class="glyphicon"></span>
		    				<span class="glyphicon"></span>
		    				<span class="glyphicon"></span>
		    				<span class="glyphicon"></span>
		    				<span class="glyphicon"></span>
		    			</div>
	    			</a>
	    			<a href="javascript:void(0);">
		    			<div class="content col-xs-2">
		    				<h3><span alt="{{post.id}}" class="glyphicon glyphicon-heart-empty"></span></h3>
		    			</div>
	    			</a>
	    			<a href="tel:{{post.company.phone.first.number}}">
		    			<div class="call col-xs-3">
		    				<h2><span class="glyphicon glyphicon-phone-alt"></span></h2>
		    			</div>
	    			</a>
	    		</div>
    		{% endfor %}
		</div>
		
	</body>
</html>
