<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	    <title>benzhu_system</title>
	    <script src="/static/web/js/jquery-1.11.1.min.js"></script>
	    <script src="/static/web/js/swipe.js"></script>
	    <link rel="stylesheet" href="/static/web/css/main.css" />
	    <link rel="stylesheet" href="/static/web/css/bootstrap.css">
	    <script>
			$(function() {
				$(".banner_left").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"white"} );
					$(".goback_button").css( {"color":"#FF4A00"} );
				});
				$(".banner_left").bind("touchend", function() {
					$(this).css( {"backgroundColor":"transparent"} );
					$(".goback_button").css( {"color":"white"} );
				});
				$(".banner_right").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"white"} );
					$(".gouser_button").css( {"color":"#FF4A00"} );
				});
				$(".banner_right").bind("touchend", function() {
					$(this).css( {"backgroundColor":"transparent"} );
					$(".gouser_button").css( {"color":"white"} );
				});
				$(".service_item").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"#D4D7DA"} );
				});
				$(".service_item").bind("touchend", function() {
					$(this).css( {"backgroundColor":"rgba(94,92,87,0.8)"} );
				});
				$(".service_item").bind("touchmove", function() {
					$(this).css( {"backgroundColor":"rgba(94,92,87,0.8)"} );
				});
				$(".service_item_end").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"#FD9729"} );
				});
				$(".service_item_end").bind("touchend", function() {
					$(this).css( {"backgroundColor":"rgba(255,74,0,0.9)"} );
				});
				$(".service_item_end").bind("touchmove", function() {
					$(this).css( {"backgroundColor":"rgba(255,74,0,0.9)"} );
				});
			});
			$(function(){
				new Swipe(document.getElementById('banner_box'), {
					speed:500,
					auto:3000,
					callback: function(){
						var lis = $(this.element).next("ol").children();
						lis.removeClass("on").eq(this.index).addClass("on"); }
					});
			});
	</script>
	</head>
	<body class="index_background">
		<div class="container-fluid">
			<div class="row">
	    		<div class="banner">
	    			<div class="banner_left col-xs-2">
	    				<a href="javascript:void(0);">
	    					<div class="goback_button">
	    						<span class="glyphicon glyphicon-list"></span>
	    						<script>
	    						$(function(){
	    							$('.menu').css({"display": "none"});
	    							$(".glyphicon-list").bind("click", function() {
	    								$(".menu").fadeToggle(250);
	    							});
	    						});
	    						</script>	
	    					</div>
	    				</a>
					</div>	
		    		<div class="banner_middle col-xs-8">
		    			<form action="" method="post"> 
		    				{% csrf_token %}
			    			<div class="input-group">
								<input type="text" name="key" class="form-control">
								<span class="input-group-btn">
							        <button class="btn btn-default" type="submit">
							        	<span class="glyphicon glyphicon-search"></span>
							        </button>
					     		</span>
						    </div>
					    </form>
		    		</div>
		    		<div class="banner_right col-xs-2">
		    			<a href="/user_center">
	    					<div class="gouser_button">
	    						<span class="glyphicon glyphicon-user"></span>
	    					</div>
	    				</a>
		    		</div>
	    		</div>
    		</div>
	    	<div class="row">
	    		<div id="banner_box" class="box_swipe">
					<ul>
						{% for pictures in gallery %}
						<li>
							<a href="http://{{pictures.links}}">
								<img src="{{MEDIA_URL}}{{ pictures.pic }}" alt="" style="width:100%;" />
							</a>
						</li>
						{% endfor %}
					</ul>
			
					<ol>
						{% for pictures in gallery %}
						<li class=""></li>
						{% endfor %}
					</ol>
				</div>
	    	</div>
		</div>
		
		<div class="menu">
			<a href="/">
				<div class="menu_item">首页</div>
			</a>
			<a href="/community">
				<div class="menu_item">我的小区</div>
			</a>
			<a href="/user_center">
				<div class="menu_item">个人中心</div>
			</a>
		</div>
		
	    <div class="container container_big">
			<div class="row special_col">
		    	<div class="service_item service_item_lt col-xs-4">
		    		<a href="1">
		    			<div class="service_icon"><img src="../../../media/upload_items/service_icons/icon-small_hospital.png"></div>
		    			<span class="service_title">社区门诊</span>
		    		</a>
		    	</div>
		    	<div class="service_item col-xs-4">
		    		<a href="2">
		    			<div class="service_icon"><img src="../../../media/upload_items/service_icons/icon-school.png"></div>
		    			<span class="service_title">社区学校</span>
		    		</a>
		    	</div>
		    	<div class="service_item_end service_item_end_rt col-xs-4">
		    		<a href="3">
		    			<div class="service_icon"><img src="../../../media/upload_items/service_icons/icon-sqjdb.png"></div>
		    			<span class="service_title">社区街道办</span>
		    		</a>
		    	</div>
		    	<div class="service_item col-xs-4">
		    		<a href="4">
		    			<div class="service_icon"><img src="../../../media/upload_items/service_icons/icon-police.png"></div>
		    			<span class="service_title">社区派出所</span>
		    		</a>
		    	</div>
		    	<div class="service_item col-xs-4">
		    		<a href="5">
		    			<div class="service_icon"><img src="../../../media/upload_items/service_icons/icon-pharmacy.png"></div>
		    			<span class="service_title">药店</span>
		    		</a>
		    	</div>
		    	<div class="service_item_end col-xs-4">
		    		<a href="6">
		    			<div class="service_icon"><img src="../../../media/upload_items/service_icons/icon-jdwx.png"></div>
		    			<span class="service_title">家电维修</span>
		    		</a>
		    	</div>
		    	<div class="service_item col-xs-4">
		    		<a href="7">
		    			<div class="service_icon"><img src="../../../media/upload_items/service_icons/icon-takeout.png"></div>
		    			<span class="service_title">送餐外卖</span>
		    		</a>
		    	</div>
		    	<div class="service_item col-xs-4">
		    		<a href="8">
		    			<div class="service_icon"><img src="../../../media/upload_items/service_icons/icon-fzgx.png"></div>
		    			<span class="service_title">服装干洗</span>
		    		</a>
		    	</div>
		    	<div class="service_item_end col-xs-4">
		    		<a href="9">
		    			<div class="service_icon"><img src="../../../media/upload_items/service_icons/icon-unlocking.png"></div>
		    			<span class="service_title">开锁换锁</span>
		    		</a>
		    	</div>
		    	<div class="service_item col-xs-4">
		    		<a href="10">
		    			<div class="service_icon "><img src="../../../media/upload_items/service_icons/icon-gas.png"></div>
		    			<span class="service_title">燃气</span>
		    		</a>
		    	</div>
		    	<div class="service_item col-xs-4">
		    		<a href="11">
		    			<div class="service_icon"><img src="../../../media/upload_items/service_icons/icon-government.png"></div>
		    			<span class="service_title">政府部门</span>
		    		</a>
		    	</div>
		    	<div class="service_item_end col-xs-4">
		    		<a href="12">
		    			<div class="service_icon"><img src="../../../media/upload_items/service_icons/icon-hospital.png"></div>
		    			<span class="service_title">医院</span>
		    		</a>
		    	</div>
		    	<div class="service_item col-xs-4">
		    		<a href="13">
		    			<div class="service_icon "><img src="../../../media/upload_items/service_icons/icon-bank.png"></div>
		    			<span class="service_title">银行</span>
		    		</a>
		    	</div>
		    	<div class="service_item col-xs-4">
		    		<a href="14">
		    			<div class="service_icon"><img src="../../../media/upload_items/service_icons/icon-hotel.png"></div>
		    			<span class="service_title">酒店</span>
		    		</a>
		    	</div>
		    	<div class="service_item_end col-xs-4">
		    		<a href="15">
		    			<div class="service_icon"><img src="../../../media/upload_items/service_icons/icon-pet.png"></div>
		    			<span class="service_title">宠物服务</span>
		    		</a>
		    	</div>
		    	<div class="service_item col-xs-4">
		    		<a href="16">
		    			<div class="service_icon "><img src="../../../media/upload_items/service_icons/icon-water.png"></div>
		    			<span class="service_title">送水服务</span>
		    		</a>
		    	</div>
		    	<div class="service_item col-xs-4">
		    		<a href="17">
		    			<div class="service_icon"><img src="../../../media/upload_items/service_icons/icon-clean_house.png"></div>
		    			<span class="service_title">家政服务</span>
		    		</a>
		    	</div>
		    	<div class="service_item_end col-xs-4">
		    		<a href="18">
		    			<div class="service_icon"><img src="../../../media/upload_items/service_icons/icon-sdwx.png"></div>
		    			<span class="service_title">水电维修</span>
		    		</a>
		    	</div>
		    	<div class="service_item col-xs-4">
		    		<a href="19">
		    			<div class="service_icon "><img src="../../../media/upload_items/service_icons/icon-law.png"></div>
		    			<span class="service_title">法律咨询</span>
		    		</a>
		    	</div>
		    	<div class="service_item col-xs-4">
		    		<a href="20">
		    			<div class="service_icon"><img src="../../../media/upload_items/service_icons/icon-taxi.png"></div>
		    			<span class="service_title">电召出租车</span>
		    		</a>
		    	</div>
		    	<div class="service_item_end col-xs-4">
		    		<a href="21">
		    			<div class="service_icon"><img src="../../../media/upload_items/service_icons/icon-wifi.png"></div>
		    			<span class="service_title">宽带电话</span>
		    		</a>
		    	</div>
		    	
		    	<div class="service_item col-xs-4">
		    		<a href="22">
		    			<div class="service_icon "><img src="../../../media/upload_items/service_icons/icon-ems.png"></div>
		    			<span class="service_title">快递电话</span>
		    		</a>
		    	</div>
		    	<div class="service_item col-xs-4">
		    		<a href="23">
		    			<div class="service_icon"><img src="../../../media/upload_items/service_icons/icon-ticket.png"></div>
		    			<span class="service_title">汽车票务</span>
		    		</a>
		    	</div>
		    	<div class="service_item_end col-xs-4">
		    		<a href="24">
		    			<div class="service_icon"><img src="../../../media/upload_items/service_icons/icon-wc.png"></div>
		    			<span class="service_title">通渠通厕</span>
		    		</a>
		    	</div>
		    	<div class="service_item col-xs-4">
		    		<a href="25">
		    			<div class="service_icon "><img src="../../../media/upload_items/service_icons/icon-move_house.png"></div>
		    			<span class="service_title">搬运搬家</span>
		    		</a>
		    	</div>
		    	<div class="service_item col-xs-4">
		    		<a href="26">
		    			<div class="service_icon"><img src="../../../media/upload_items/service_icons/icon-qcwx.png"></div>
		    			<span class="service_title">汽修服务</span>
		    		</a>
		    	</div>
		    	<div class="service_item_end col-xs-4">
		    		<a href="27">
		    			<div class="service_icon"><img src="../../../media/upload_items/service_icons/icon-housing_repair.png"></div>
		    			<span class="service_title">房屋维修</span>
		    		</a>
		    	</div>
		    	<div class="service_item service_item_lb col-xs-4">
		    		<a href="28">
		    			<div class="service_icon"><img src="../../../media/upload_items/service_icons/icon-training.png"></div>
		    			<span class="service_title">教育培训</span>
		    		</a>
		    	</div>
		    	<div class="service_item col-xs-4">
		    		<a href="29">
		    			<div class="service_icon"><img src="../../../media/upload_items/service_icons/icon-wyhouse.png"></div>
		    			<span class="service_title">物业管理处</span>
		    		</a>
		    	</div>
		    	<div class="service_item_end service_item_end_rb col-xs-4">
		    		<a href="30">
		    			<div class="service_icon"><img src="../../../media/upload_items/service_icons/icon-kfphone.png"></div>
		    			<span class="service_title">客服电话</span>
		    		</a>
		    	</div>
	    	</div>
    	</div>
	</body>
</html>
