<!DOCTYPE html>  
<html>  
	<head>  
	    <head lang="en">
		    <meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
			<title>benzhu_system</title>
			<script src="/static/web/js/jquery-1.11.1.min.js"></script>
			<link rel="stylesheet" href="/static/web/css/main.css" />
			<link rel="stylesheet" href="/static/web/css/bootstrap.css">
		</head>
	</head>  
	<body class="apps_background">
		<div class="login_error">
			{% if errors %}
			<div class="login_error_content">
				{% for error in errors %} 
					{{error}}   
				{% endfor %}  
			</div>
			{% endif %}
		</div>
		<div class="login_title">
			{{community.name}}
		</div>
		<div class="login_form">
			<form action="" method="post">  
				{% csrf_token %}
				<input type='text' placeholder="账号" name="account" class="input_text">  
				</br>   
				<input type='password' placeholder="密码" name="password" class="input_text">  
				</br>  
				<input type='submit' placeholder="Login" value="登陆" class="input_button">  
				</br>  
				<a href="/register">
					<div class="ghost_button_login">
						注册
					</div>
				</a>  
			</form>
		</div>
	</body>  
</html>  
