<!DOCTYPE html>  
<html>  
	<head>  
	    <head lang="en">
		    <meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
			<title>benzhu_system</title>
			<script src="/static/web/js/jquery-1.11.1.min.js"></script>
			<link rel="stylesheet" href="/static/web/css/main.css" />
			<link rel="stylesheet" href="/static/web/css/bootstrap.css">
		</head>
	</head>  
	<body class="apps_background">  
		<div class="register_error">
			{% if errors %}
			<div class="register_error_content">
				{% for error in errors %} 
					{{error}}   
				{% endfor %}  
			</div>
			{% endif %}
		</div>
		<div class="register_title">
			{{community.name}}
		</div>
		<div class="register_form">
			<form action="" method="post">  
				{% csrf_token %}
				<input type='text' placeholder="登陆账号" name = 'account'  class="input_text_register">  		
				<br/>
				<input type='password' placeholder="登陆密码" name = 'password'  class="input_text_register">  
				<br/>
				<input type='password' placeholder="确认登陆密码" name ='password2'  class="input_text_register">  
				<br/>
		</div>
		<div class="info_form">
				<input type='text' placeholder="姓名" name ='truename'  class="input_text_register">  
				<br/>
				<input type='text' placeholder="栋数及房号" name = 'community_address'  class="input_text_register">  
				<br/>
				<input type="tel" placeholder="联系电话" name = 'tel'  class="input_text_register">  
				<br/>
				<input type = 'submit' placeholder="register" value="注册"  class="input_button_register">  
				<a href="/user_login">
					<div class="ghost_button_login">
						我已有账号
					</div>
				</a>
			</form>  
		</div>
	
		
	
	</body>  
</html>  
