<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>benzhu_system</title>
		<script src="/static/web/js/jquery-1.11.1.min.js"></script>
		<link rel="stylesheet" href="/static/web/css/main.css" />
		<link rel="stylesheet" href="/static/web/css/bootstrap.css">
		<script>
			$(function() {
				$(".banner_left").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"white"} );
					$(".goback_button").css( {"color":"#FF4A00"} );
				});
				$(".banner_left").bind("touchend", function() {
					$(this).css( {"backgroundColor":"transparent"} );
					$(".goback_button").css( {"color":"white"} );
				});
				$(".banner_right").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"white"} );
					$(".gouser_button").css( {"color":"#FF4A00"} );
				});
				$(".banner_right").bind("touchend", function() {
					$(this).css( {"backgroundColor":"transparent"} );
					$(".gouser_button").css( {"color":"white"} );
				});
				$(".content").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"#D4D7DA"} );
				});
				$(".content").bind("touchend", function() {
					$(this).css( {"backgroundColor":"rgba(94,92,87,0.8)"} );
				});
				$(".content").bind("touchmove", function() {
					$(this).css( {"backgroundColor":"rgba(94,92,87,0.8)"} );
				});
				$(".call").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"#FD9729"} );
				});
				$(".call").bind("touchend", function() {
					$(this).css( {"backgroundColor":"rgba(255,74,0,0.9)"} );
				});
				$(".call").bind("touchmove", function() {
					$(this).css( {"backgroundColor":"rgba(255,74,0,0.9)"} );
				});
			});	
		</script>
	</head>
	<body class="apps_background">
		<div class="container-fluid service_list">
			<div class="row">
	    		<div class="banner">
	    			<div class="banner_left col-xs-2">
	    				<a href="javascript:history.back()">
	    					<div class="goback_button">
	    						<span class="glyphicon glyphicon-arrow-left"></span>
	    					</div>
	    				</a>
					</div>	
		    		<div class="banner_middle col-xs-8">
		    			<form action="" method="post"> 
		    				{% csrf_token %}
			    			<div class="input-group">
								<input type="text" name="key" class="form-control">
								<span class="input-group-btn">
							        <button class="btn btn-default" type="submit">
							        	<span class="glyphicon glyphicon-search"></span>
							        </button>
					     		</span>
						    </div>
					    </form>
		    		</div>
	    		</div>
    		</div>
		</div>
		<div class="container container_big">
			{% for post in services %}
				<div class="service_list_item row">
					<a href="/service/0/{{post.id}}">
		    			<div class="content col-xs-7">
		    				<h4>{{ post.name }}</h4>
		    				<span class="glyphicon glyphicon-star" style="color: #FF4A00;"></span>
		    				<span class="glyphicon glyphicon-star" style="color: #FF4A00;"></span>
		    				<span class="glyphicon glyphicon-star" style="color: #FF4A00;"></span>
		    				<span class="glyphicon glyphicon-star-empty"></span>
		    				<span class="glyphicon glyphicon-star-empty"></span>
		    			</div>
	    			</a>
	    			<a href="{{post.id}}">
		    			<div class="content col-xs-2">
		    				<h3><span class="glyphicon glyphicon-heart-empty"></span></h3>
		    			</div>
	    			</a>
	    			<a href="tel:{{post.company.phone.first.number}}">
		    			<div class="call col-xs-3">
		    				<h2><span class="glyphicon glyphicon-phone-alt"></span></h2>
		    			</div>
	    			</a>
	    		</div>
    		{% endfor %}
		</div>
	</body>
</html>
