<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>benzhu_system</title>
		<script src="/static/web/js/jquery-1.11.1.min.js"></script>
		<link rel="stylesheet" href="/static/web/css/main.css" />
		<link rel="stylesheet" href="/static/web/css/bootstrap.css">
		<script>
			$(function() {
				$(".banner_left").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"white"} );
					$(".goback_button").css( {"color":"#FF4A00"} );
				});
				$(".banner_left").bind("touchend", function() {
					$(this).css( {"backgroundColor":"transparent"} );
					$(".goback_button").css( {"color":"white"} );
				});
				$(".banner_right").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"#FD9729"} );
				});
				$(".banner_right").bind("touchend", function() {
					$(this).css( {"backgroundColor":"rgba(255,74,0,0.9)"} );
				});
				$(".ghost_button_index").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"white", "color":"black"} );
				});
				$(".ghost_button_index").bind("touchend", function() {
					$(this).css( {"backgroundColor":"transparent", "color":"white"} );
				});
				$(".ghost_button2_index").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"transparent", "color":"#FF4A00"} );
				});
				$(".ghost_button2_index").bind("touchend", function() {
					$(this).css( {"backgroundColor":"#FF4A00", "color":"white"} );
				});

			});	
		</script>
	</head>
	<body class="apps_background">
		<div class="container-fluid  user_center">
			<div class="row">
	    		<div class="banner">
	    			<div class="banner_left col-xs-2">
	    				<a href="javascript:void(0);">
	    					<div class="goback_button">
	    						<span class="glyphicon glyphicon-list"></span>
	    						<script>
	    						$(function(){
	    							$('.menu').css({"display": "none"});
	    							$(".glyphicon-list").bind("click", function() {
	    								$(".menu").slideToggle(250);
	    							});
	    						});
	    						</script>	
	    					</div>
	    				</a>
					</div>	
		    		<div class="banner_middle col-xs-8">
		    			<div class="service_name">
		    				个人中心
		    			</div>
		    		</div>
		    		<div class="banner_right col-xs-2">
		    			<a href="/settings">
	    					<div class="gouser_button">
	    						<span class="glyphicon glyphicon-cog"></span>
	    					</div>
	    				</a>
		    		</div>
	    		</div>
    		</div>
    		<div class="row">
    			<div class="user_banner">
    				<a href="/user_info">
    					<div class="user_banner_info">
                    		<span class="user_name">{{profile.true_name}}</span></br>
                    		{{profile.tel}}</br>
                    		{{profile.community.name}}</br>
                    		{{profile.community_address}}</br>
                    	</div>
    				</a>
				</div>
    		</div>
		</div>
		
		<div class="menu">
			<a href="/">
				<div class="menu_item">首页</div>
			</a>
			<a href="/community">
				<div class="menu_item">我的小区</div>
			</a>
			<a href="/service">
				<div class="menu_item">便民电话</div>
			</a>
		</div>
		
		<div class="container container_small">
			<div class="user_center_content">
				<div class="button">
					<a href="/myfeedback"><div class="ghost_button_index"><span class="glyphicon glyphicon-inbox"> 我的投诉</span></div></a>
				</div>
				<div class="button">
					<a href="/myservice"><div class="ghost_button_index"><span class="glyphicon glyphicon-heart"> 我的收藏</span></div></a>
				</div>
				<div class="button">
					<a href="/user_logout"><div class="ghost_button2_index"><span class="glyphicon glyphicon-log-out"> 注销</span></div></a>
				</div>
			</div>
		</div>
	</body>
</html>
