<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>benzhu_system</title>
		<script src="/static/web/js/jquery-1.11.1.min.js"></script>
		<link rel="stylesheet" href="/static/web/css/main.css" />
		<link rel="stylesheet" href="/static/web/css/bootstrap.css">
		<script>
			$(function() {
				$(".banner_left").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"white"} );
					$(".goback_button").css( {"color":"#FF4A00"} );
				});
				$(".banner_left").bind("touchend", function() {
					$(this).css( {"backgroundColor":"transparent"} );
					$(".goback_button").css( {"color":"white"} );
				});
				$(".input_button_userinfo").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"transparent", "color":"#FF4A00"} );
				});
				$(".input_button_userinfo").bind("touchend", function() {
					$(this).css( {"backgroundColor":"#FF4A00", "color":"#FFFFFF"} );
				});
			});	
		</script>
	</head>
	<body class="apps_background">
		<div class="container-fluid  user_center">
			<div class="row">
	    		<div class="banner">
	    			<div class="banner_left col-xs-2">
	    				<a href="javascript:history.back();">
	    					<div class="goback_button">
	    						<span class="glyphicon glyphicon-arrow-left"></span>
	    					</div>
	    				</a>
					</div>
		    		<div class="banner_middle col-xs-8">
		    			<div class="service_name">
		    				修改登录密码
		    			</div>
		    		</div>
	    		</div>
    		</div>
		</div>
		<div class="container container_small">
			<div class="user_center_content">
				<form action="" method="post">
					{% csrf_token %}
					<div class="button">
						账号：<input type='text' value="{{me.username}}" name ='true_name' readonly="true" class="input_text_userinfo">
					</div>
					<div class="button">
						新的密码：<input type='password' name ='password'  class="input_text_userinfo">
					</div>
					<div class="button">
						再输一次新的密码：<input type='password' name ='password2'  class="input_text_userinfo">
					</div>
					<div class="button">
						<input type = 'submit' value="保存"  class="input_button_userinfo"> 
					</div>
				</form>
			</div>
		</div>
		
	</body>
</html>
