{{ ID }} Default Template: page.html

{% for post in posts %}
<h2>{{ post.title }}</h2>
<p>{{ post.timestamp }}</p>
<p>{{ post.body }}</p>
{% endfor %}

{% load comments %}

 # 统计评论数量
{% get_comment_count for page as comment_count %} 
<p>This event has {{ comment_count }} comments.</p>

# 显示评论提交表单
{% get_comment_form for page as form %}
<table>
  <form action="{% comment_form_target %}" method="post">
    {% csrf_token %}
    {{ form }}
    <tr>
      <td colspan="2">
        <input type="submit" name="submit" value="Post">
        <input type="submit" name="preview" value="Preview">
      </td>
    </tr>
  </form>
</table>
