<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>benzhu_system</title>
		<script src="/static/web/js/jquery-1.11.1.min.js"></script>
		<link rel="stylesheet" href="/static/web/css/main.css" />
		<link rel="stylesheet" href="/static/web/css/bootstrap.css">
		<script>
			$(function() {
				$(".banner_left").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"white"} );
					$(".goback_button").css( {"color":"#FF4A00"} );
				});
				$(".banner_left").bind("touchend", function() {
					$(this).css( {"backgroundColor":"transparent"} );
					$(".goback_button").css( {"color":"white"} );
				});
				$(".banner_right").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"#FD9729"} );
				});
				$(".banner_right").bind("touchend", function() {
					$(this).css( {"backgroundColor":"rgba(255,74,0,0.9)"} );
				});
				$(".ghost_button_community").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"white", "color":"black"} );
				});
				$(".ghost_button_community").bind("touchend", function() {
					$(this).css( {"backgroundColor":"transparent", "color":"white"} );
				});
				$(".ghost_button2_community").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"transparent", "color":"#FF4A00"} );
				});
				$(".ghost_button2_community").bind("touchend", function() {
					$(this).css( {"backgroundColor":"#FF4A00", "color":"white"} );
				});
			});	
		</script>
	</head>
	<body class="apps_background">
		<div class="container-fluid service_detail">
			<div class="row">
	    		<div class="banner">
	    			<div class="banner_left col-xs-2">
	    				<a href="javascript:void(0);">
	    					<div class="goback_button">
	    						<span class="glyphicon glyphicon-list"></span>
	    						<script>
	    						$(function(){
	    							$('.menu').css({"display": "none"});
	    							$(".glyphicon-list").bind("click", function() {
	    								$(".menu").slideToggle(250);
	    							});
	    						});
	    						</script>	
	    					</div>
	    				</a>
					</div>	
		    		<div class="banner_middle col-xs-8">
		    			<div class="service_name">
		    				{{community.name}}
		    			</div>
		    		</div>
		    		<div class="banner_right col-xs-2">
		    			<a href="tel:{{community.phone.first.number}}">
	    					<div class="gouser_button">
	    						<span class="glyphicon glyphicon-phone-alt"></span>
	    					</div>
	    				</a>
		    		</div>
	    		</div>
    		</div>
		</div>

		<div class="menu">
			<a href="/">
				<div class="menu_item">首页</div>
			</a>
			<a href="/service">
				<div class="menu_item">便民电话</div>
			</a>
			<a href="/user_center">
				<div class="menu_item">个人中心</div>
			</a>
		</div>

		<div class="container container_small">
			<div class="row">
				<div class="notice">
					<div class="field_title">
						最新公告
					</div>
					<div class="notice_content">
						{% for notice in notices %}
						<a href="notice/{{notice.id}}">
							<div class="notice_item">
								<div class="field_content">
									<div class="notice_item_name">
										<h4>{{notice.name}}</h4>
									</div>
									<div class="notice_item_info">
										<h5>{{notice.info|striptags|slice:"20"}}...</h5>
									</div>
									<div class="notice_item_time">
										{{notice.time}}
									</div>
								</div>
							</div>
						</a>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="community_button">
					<div class="button col-xs-6">
						<a href="introduction/"><div class="ghost_button_community">小区简介</div></a>
					</div>
					<div class="button col-xs-6">
						<a href="feedback/"><div class="ghost_button2_community">投诉建议</div></a>
					</div>
				</div>
			</div>
		</div>
	
	</body>
</html>