 <!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>benzhu_system</title>
		<script src="/static/web/js/jquery-1.11.1.min.js"></script>
		<script src="/static/web/js/swipe.js"></script>
		<link rel="stylesheet" href="/static/web/css/main.css" />
		<link rel="stylesheet" href="/static/web/css/bootstrap.css">
		<script>
			$(function() {
				$(".banner_left").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"white"} );
					$(".goback_button").css( {"color":"#FF4A00"} );
				});
				$(".banner_left").bind("touchend", function() {
					$(this).css( {"backgroundColor":"transparent"} );
					$(".goback_button").css( {"color":"white"} );
				});
				$(".banner_right").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"#FD9729"} );
				});
				$(".banner_right").bind("touchend", function() {
					$(this).css( {"backgroundColor":"rgba(255,74,0,0.9)"} );
				});
				$(".phone").bind("touchstart", function() {
					$(this).find(".tel").css( {"backgroundColor":"#D4D7DA"} );
					$(this).find(".tel_icon").css( {"backgroundColor":"#FD9729"} );
				});
				$(".phone").bind("touchend", function() {
					$(this).find(".tel").css( {"backgroundColor":"rgba(94,92,87,0.8)"} );
					$(this).find(".tel_icon").css( {"backgroundColor":"rgba(255,74,0,0.9)"} );
				});
				$(".phone").bind("touchmove", function() {
					$(this).find(".tel").css( {"backgroundColor":"rgba(94,92,87,0.8)"} );
					$(this).find(".tel_icon").css( {"backgroundColor":"rgba(255,74,0,0.9)"} );
				});
			});	
			$(function(){
				new Swipe(document.getElementById('banner_box'), {
					speed:500,
					auto:3000,
					callback: function(){
						var lis = $(this.element).next("ol").children();
						lis.removeClass("on").eq(this.index).addClass("on"); }
				});
			});
		</script>
	</head>
	<body class="apps_background">
		<div class="container-fluid service_detail">
			<div class="row">
	    		<div class="banner">
	    			<div class="banner_left col-xs-2">
	    				<a href="javascript:history.back()">
	    					<div class="goback_button">
	    						<span class="glyphicon glyphicon-arrow-left"></span>	
	    					</div>
	    				</a>
					</div>	
		    		<div class="banner_middle col-xs-8">
		    			<div class="service_name">
		    				{{community.name}}
		    			</div>
		    		</div>
		    		<div class="banner_right col-xs-2">
		    			<a href="tel:{{community.phone.first.number}}">
	    					<div class="gouser_button">
	    						<span class="glyphicon glyphicon-phone-alt"></span>
	    					</div>
	    				</a>
		    		</div>
	    		</div>

				<div id="banner_box" class="box_swipe">
					<ul>
						{% for pictures in gallery %}
						<li>
							<a onclick="return false;">
								<img src="{{MEDIA_URL}}{{ pictures.pic }}" alt="" style="width:100%;" />
							</a>
						</li>
						{% endfor %}
					</ul>
			
					<ol>
						{% for pictures in gallery %}
						<li class=""></li>
						{% endfor %}
					</ol>
				</div>
    		</div>
		</div>
		<div class="container container_small">
			<div class="row">
				<div class="info">
					<div class="field_title">
						{{community.name}}简介
					</div>
					<div class="field_content">
						{{community.info|safe}}
					</div>
				</div>
				<div class="info2">
					<div class="field_title">
						{{community.name}}地址
					</div>
					<div class="field_content">
						{{community.address}}
					</div>
				</div>
				<div class="info2">
					<div class="field_title">
						{{management.name}}简介
					</div>
					<div class="field_content">
						{{management.info|safe}}
					</div>
				</div>
				{% for phone in community.phone.all%}
				<div class="phone">
					<a href="tel:{{phone.number}}">
						<div class="tel col-xs-9">
							{{phone.number}}
						</div>
						<div class="tel_icon col-xs-3">
							<span class="glyphicon glyphicon-earphone"></span>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
		
	</body>
</html>
