<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>benzhu_system</title>
		<script src="/static/web/js/jquery-1.11.1.min.js"></script>
		<link rel="stylesheet" href="/static/web/css/main.css" />
		<link rel="stylesheet" href="/static/web/css/bootstrap.css">
		<script>
			$(function() {
				$(".banner_left").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"white"} );
					$(".goback_button").css( {"color":"#FF4A00"} );
				});
				$(".banner_left").bind("touchend", function() {
					$(this).css( {"backgroundColor":"transparent"} );
					$(".goback_button").css( {"color":"white"} );
				});
				$(".banner_right").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"#FD9729"} );
				});
				$(".banner_right").bind("touchend", function() {
					$(this).css( {"backgroundColor":"rgba(255,74,0,0.9)"} );
				});
			});	
		</script>
	</head>
	<body class="apps_background">
		<div class="container-fluid service_detail">
			<div class="row">
	    		<div class="banner">
	    			<div class="banner_left col-xs-2">
	    				<a href="javascript:history.back();">
	    					<div class="goback_button">
	    						<span class="glyphicon glyphicon-arrow-left"></span>
	    						<script>
	    						$(function(){
	    							$('.menu').css({"display": "none"});
	    							$(".glyphicon-list").bind("click", function() {
	    								$(".menu").slideToggle(250);
	    							});
	    						});
	    						</script>	
	    					</div>
	    				</a>
					</div>	
		    		<div class="banner_middle col-xs-8">
		    			<div class="service_name">
		    				{{community.name}}
		    			</div>
		    		</div>
		    		<div class="banner_right col-xs-2">
		    			<a href="tel:{{community.phone.first.number}}">
	    					<div class="gouser_button">
	    						<span class="glyphicon glyphicon-phone-alt"></span>
	    					</div>
	    				</a>
		    		</div>
	    		</div>
    		</div>
		</div>
		<div class="container container_small">
			<div class="row">
				<div class="info feedback_form">
					<div class="field_title">
						对{{community.name}}进行投诉或建议
					</div>
					<div class="notice_content">
						<form action="" method="post"> 
		    			{% csrf_token %}
							<textarea name="info" class="feedback_textarea" placeholder="请输入你的投诉或建议"></textarea>
							<input type="submit" name="submit" value="提交" class="input_button"/>
						</form>
					</div>
				</div>
				<div class="info2 feedback_list">
					<div class="field_title">
						我的投诉
					</div>
					<div class="notice_content">
						{% for feedback in feed_backs %}
						<a id='feedback-{{feedback.id}}' href="{{feedback.id}}">
							<div class="notice_item">
								<div class="field_content">
									<div class="feedback_field_content">
										<div class="notice_item_info">
											<h5>{{feedback.info|striptags|slice:"20"}}...</h5>
										</div>
										<div class="notice_item_time">
											{{feedback.time}}
										</div>
									</div>
									<div class="feedback_state"></div>
									<script>
										var ct = '{{feedback.check_time}}'
										var st = '{{feedback.start_time}}'
										var ft = '{{feedback.finish_time}}'
										if(ft != 'None'){
											$('#feedback-{{feedback.id}}').find('.feedback_state').animate({"width":"100%"},4000);
										}
										else{
											if(st != 'None'){
												$('#feedback-{{feedback.id}}').find('.feedback_state').animate({"width":"66%"},4000);
											}
											else{
												if(ct != 'None'){
													$('#feedback-{{feedback.id}}').find('.feedback_state').animate({"width":"33%"},4000);
												}
												
											}
										}
											
									</script>
								</div>
								
							</div>
						</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		
	</body>
</html>
