<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>benzhu_system</title>
		<script src="/static/web/js/jquery-1.11.1.min.js"></script>
		<link rel="stylesheet" href="/static/web/css/main.css" />
		<link rel="stylesheet" href="/static/web/css/bootstrap.css">
		<script>
			$(function() {
				$(".banner_left").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"white"} );
					$(".goback_button").css( {"color":"#FF4A00"} );
				});
				$(".banner_left").bind("touchend", function() {
					$(this).css( {"backgroundColor":"transparent"} );
					$(".goback_button").css( {"color":"white"} );
				});
				$(".banner_right").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"#FD9729"} );
				});
				$(".banner_right").bind("touchend", function() {
					$(this).css( {"backgroundColor":"rgba(255,74,0,0.9)"} );
				});
			});	
		</script>
	</head>
	<body class="apps_background">
		<div class="container-fluid service_detail">
			<div class="row">
	    		<div class="banner">
	    			<div class="banner_left col-xs-2">
	    				<a href="javascript:history.back();">
	    					<div class="goback_button">
	    						<span class="glyphicon glyphicon-arrow-left"></span>
	    						<script>
	    						$(function(){
	    							$('.menu').css({"display": "none"});
	    							$(".glyphicon-list").bind("click", function() {
	    								$(".menu").slideToggle(250);
	    							});
	    						});
	    						</script>	
	    					</div>
	    				</a>
					</div>	
		    		<div class="banner_middle col-xs-8">
		    			<div class="service_name">
		    				{{community.name}}
		    			</div>
		    		</div>
		    		<div class="banner_right col-xs-2">
		    			<a href="tel:{{community.phone.first.number}}">
	    					<div class="gouser_button">
	    						<span class="glyphicon glyphicon-phone-alt"></span>
	    					</div>
	    				</a>
		    		</div>
	    		</div>
    		</div>
		</div>
		<div class="container container_small">
			<div class="row">
				<div class="feedback_info">
					<div class="field_title">
						详细投诉内容
					</div>
					<div class="field_content">
						<div class="notice_detail_time">
							<span class="glyphicon glyphicon-time"></span> &nbsp;{{feedback.time}}
						</div>
						<div class="notice_detail_content">
							{{feedback.info|safe}}
						</div>
					</div>
				</div>
				<div class="feedback_process">
					{% if feedback.check_time != null%}
					<div class="row feedback_check">
						<div class="process_info">
							<div class="process_state"><span class="glyphicon glyphicon-inbox"> 投诉已查阅：</span></div></br><span class="glyphicon glyphicon-time"> {{feedback.check_time}}</span>
						</div>
					</div>
					
					
					<div class="row arrow_down">
						<div class="process_info">
							<span class="glyphicon glyphicon-arrow-down"></span>
						</div>
					</div>
					{% if feedback.start_time != null%}
					<div class="row feedback_dealing">
						<div class="process_info">
							<div class="process_state"><span class="glyphicon glyphicon-refresh"> 投诉处理中：</span></div></br><span class="glyphicon glyphicon-time"> {{feedback.start_time}}</span></br>
							<span class="glyphicon glyphicon-user"> 负责人：</span>{{feedback.charger}}</br>
							<span class="glyphicon glyphicon-comment"> 备注：</span></br>{{feedback.start_comment|safe}}
							
						</div>
					</div>
					<div class="row arrow_down">
						<div class="process_info">
							<span class="glyphicon glyphicon-arrow-down"></span>
						</div>
					</div>
					{% if feedback.finish_time != null%}
					<div class="row feedback_finish">
						<div class="process_info">
							<div class="process_state"><span class="glyphicon glyphicon-ok"> 投诉处理完毕：</span></div></br><span class="glyphicon glyphicon-time"> {{feedback.finish_time}}</span></br>
							<span class="glyphicon glyphicon-comment"> 备注：</span></br>{{feedback.finish_comment|safe}}
						</div>
					</div>
					{% else %}
					<div class="row feedback_dealing">
						<div class="process_info" style="text-align: center;">
							投诉正在处理中，请耐心等候。</br>若有疑问请点击右上角按钮进行查询。
						</div>
					</div>
					{% endif %}
					{% else %}
					<div class="row feedback_dealing">
						<div class="process_info" style="text-align: center;">
							投诉还未进入处理阶段，请耐心等候。</br>若有疑问请点击右上角按钮进行查询。
						</div>
					</div>
					{% endif %}
					{% else %}
					<div class="row feedback_check">
						<div class="process_info" style="text-align: center;">
							我们将在24小时内查阅你的投诉，请耐心等候。</br>若有疑问请点击右上角按钮进行查询。
						</div>
					</div>
					{% endif %}
					
					
				</div>
			</div>
		</div>
	</body>
</html>
