<!DOCTYPE html>
<html>
	<head lang="en">
	    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>benzhu_system</title>
		<script src="/static/web/js/jquery-1.11.1.min.js"></script>
		<link rel="stylesheet" href="/static/web/css/main.css" />
		<link rel="stylesheet" href="/static/web/css/bootstrap.css">
		<script>
			$(function() {
				$(".banner_left").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"white"} );
					$(".goback_button").css( {"color":"#FF4A00"} );
				});
				$(".banner_left").bind("touchend", function() {
					$(this).css( {"backgroundColor":"transparent"} );
					$(".goback_button").css( {"color":"white"} );
				});
				$(".banner_right").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"#FD9729"} );
				});
				$(".banner_right").bind("touchend", function() {
					$(this).css( {"backgroundColor":"rgba(255,74,0,0.9)"} );
				});
				$(".notice_item").bind("touchstart", function() {
					$(this).css( {"backgroundColor":"#FF4A00"} );
				});
				$(".notice_item").bind("touchend", function() {
					$(this).css( {"backgroundColor":"#808080"} );
				});
			});	
		</script>
	</head>
	<body class="apps_background">
		<div class="container-fluid service_detail">
			<div class="row">
	    		<div class="banner">
	    			<div class="banner_left col-xs-2">
	    				<a href="javascript:history.back()">
	    					<div class="goback_button">
	    						<span class="glyphicon glyphicon-arrow-left"></span>
	    					</div>
	    				</a>
					</div>	
		    		<div class="banner_middle col-xs-8">
		    			<div class="service_name">
		    				{{notice.community}}
		    			</div>
		    		</div>
		    		<div class="banner_right col-xs-2">
		    			<a href="tel:{{community.phone.first.number}}">
	    					<div class="gouser_button">
	    						<span class="glyphicon glyphicon-phone-alt"></span>
	    					</div>
	    				</a>
		    		</div>
	    		</div>
			</div>
		</div>
		<div class="container container_small">
			<div class="row">
				<div class="notice">
					<div class="field_title">
						{{notice.name}}
					</div>
					<div class="field_content">
						<div class="notice_detail_time">
							{{notice.time}}
						</div>
						<div class="notice_detail_content">
							{{notice.info|safe}}
						</div>
					</div>
				</div>
			</div>
		</div>
		
	
	</body>
</html>